# Flash matching parenthesis when opening typed
set blink-matching-paren
set colored-completion-prefix
set colored-stats
set editing-mode vi
set horizontal-scroll-mode
set show-mode-in-prompt
set show-all-if-ambiguous

set vi-cmd-mode-string (x)
set vi-ins-mode-string (>)

"\e[A":history-search-backward
"\e[B":history-search-forward
